@model IEnumerable<string>

<div class="menuContainer">
    @if (User.Identity.IsAuthenticated)
    {
        <nav class="leftMenu">
            <span class="navCategoryText">Admin Panel</span>
            <ul>
                <li>@Html.ActionLink("Book management", "Index", "Admin")</li>
                <li>Roles management
                    <ul>
                        <li>@Html.ActionLink("Add role", "CreateRole", "Roles")</li>
                        <li>@Html.ActionLink("List of roles", "List", "Roles")</li>
                    </ul>
                </li>

            </ul>
        </nav>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <nav class="leftMenu">
            <span class="navCategoryText">Library</span>
            <ul>
                <li>@Html.ActionLink("Bookshelf", "Index", "Shelf")</li>
            </ul>
        </nav>
    }

    <nav class="leftMenu">
        <span class="navCategoryText">Category</span>
        <ul>
            @foreach (string x in Model)
            {
                <li>
                    @Html.RouteLink(
                    x,
                    new
                    {
                        controller = "Book",
                        action = "List",
                        genre = x,
                        page = 1
                    },
                    new
                    {
                        @class = "menuItem" +
                        (ViewBag.genre == x ? " menuItemSelected" : "")
                    }
                    )
                </li>
            }
        </ul>
    </nav>
</div>