@using Library.Models;
@using System.Security.Principal
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/mainScripts")
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="siteHeader">
        <div class="navTop">
            @Html.ActionLink("Library", "List", "Book")
            @using (Html.BeginForm("SearchResults", "Book", FormMethod.Get))
            {
                <input type="text" placeholder="Search book" id="name" name="name" />
                <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
            }
        </div>
        <div class="navBottom">
            <div class="navBottom left">
                @Html.ActionLink("Home", "List", "Book")
            </div>
            <div class="navBottom right">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink($"Logout {User.Identity.Name}", "Logout", "Login")
                }
                else
                {
                    @Html.ActionLink("Login", "Login", "Login")
                    @Html.ActionLink("Register", "Register", "Register")
                }
            </div>
        </div>
    </header>
    @if (TempData["Message"] != null)
    {
        var messageModel = (Message)TempData["Message"];
        <div class="@messageModel.ClassName" onclick="CloseAlert(this)">
            @Html.Raw(messageModel.Text)
        </div>
    }
    <main>
        @RenderBody()
    </main>

    <footer></footer>
</body>
</html>