@using Library.Domain.Entities
@model IEnumerable<AppUser>

@{
    ViewBag.Title = "User list";
}
@Html.Action("Menu", "Nav", new { genre = "users" })
<article style="width: 100%">
    @if (Model.Any())
    {
        <h2>User amount: @Model.Count()</h2>
        @Html.ActionLink("Add new user", "Register", "Register", new { @class = "button" })
        foreach (AppUser x in Model)
        {
            <div class="card">
                <div class="cardHeader">
                    ID: @x.Id
                </div>
                <div class="cardBody">
                    Login: @x.UserName
                </div>
                <div class="cardSetting">
                    @Html.ActionLink(" ", "EditUser", new { ID = x.Id }, new { @class = "editIcon" })
                    @Html.ActionLink(" ", "DeleteUser", new { ID = x.Id }, new { @class = "deleteIcon" })
                </div>
            </div>
        }
    }
    else
    {
        <div class="card">
            <div class="cardHeader">
                No user created
            </div>
            <div class="cardBody">
                @Html.ActionLink("Add new user", "Register", "Register", new { @class = "button" })
            </div>
        </div>
    }
</article>