@model Library.Models.AccountModel

@{
    ViewBag.Title = "Registration page";
}
@Scripts.Render("~/bundles/serverValidation")
<main>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h1>Registration</h1>
        @Html.ValidationSummary(true)
        <div class="formGroup">
            @Html.LabelFor(x => x.Username)
            <div class="formRows">
                @Html.EditorFor(x => x.Username)
                @Html.ValidationMessageFor(x => x.Username, "")
            </div>
        </div>

        <div class="formGroup">
            @Html.LabelFor(x => x.Email)
            <div class="formRows">
                @Html.EditorFor(x => x.Email)
                @Html.ValidationMessageFor(x => x.Email, "")
            </div>
        </div>
         
        <div class="formGroup">
            @Html.LabelFor(x => x.Password)
            <div class="formRows">
                @Html.EditorFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password, "")
            </div>
        </div>

        <div class="formGroup">
            @Html.LabelFor(x => x.ConfirmPassword)
            <div class="formRows">
                @Html.EditorFor(x => x.ConfirmPassword)
                @Html.ValidationMessageFor(x => x.ConfirmPassword, "")
            </div>
        </div>
        <div class="submitSection">
            <input type="submit" value="Register" />
        </div>
    }
</main>