@model Library.ViewModels.RoleViewModel

@{
    ViewBag.Title = "Add new role";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="formGroup">
        @Html.ValidationSummary(true)
        @Html.LabelFor(model => model.RoleName)
        <div class="formRows">
            @Html.EditorFor(model => model.RoleName)
            @Html.ValidationMessageFor(model => model.RoleName)
        </div>
    </div>

    <div class="submitSection">
        <input type="submit" value="Create role" />
    </div>
}
