@using Library.Domain.Entities
@model IEnumerable<AppRole>

@{
    ViewBag.Title = "List of roles";
}
@Html.Action("Menu", "Nav", new { genre = "roleList" })
<section>
    <article>
        @if (Model.Any())
        {
            <h2>List of roles: </h2>
            @Html.ActionLink("Add new role", "CreateRole", "Roles", new { @class = "button" })

            foreach (var x in Model)
            {

                <div class="card">
                    <div class="cardHeader">
                        ID: @x.Id
                    </div>
                    <div class="cardBody">
                        @x.Name
                    </div>
                    <div class="cardSetting">
                        @Html.ActionLink(" ", "EditRole", new { ID = x.Id }, new { @class = "editIcon" })
                        @using (Html.BeginForm("DeleteRole", "Roles", new { ID = x.Id }, FormMethod.Post, new { @class = "formInline" }))
                        {
                            <button type="submit" class="deleteIcon" />
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div class="card">
                <div class="cardHeader">
                    Empty
                </div>
                <div class="cardBody">
                    @Html.ActionLink("Add new role", "CreateRole", "Roles", new { @class = "button" })
                </div>
            </div>
        }
    </article>
</section>